@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/* ? transitions */

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#piggy-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute;
    z-index: -1; */
    /* transform: translateZ(-5px) scale(1); */
}

.nav-bar {
    width: 100%;
    height: 3em;
    background-color: #FFA500;
    display: flex;
    justify-content: center; 
    align-items: center;  /* TODO: Better positioning (farther away from edge) */
}

.fa-piggy-bank{
    color:#333333;
}

.nav-bar .fa-piggy-bank{
    font-size: 2rem;
}

nav {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: 1em;
    margin-left: 100px; /*340 px away */
    color: #333;
}

.image-container {
    height: calc(100vh - 3em); 
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; 
    position: absolute;
}

#piggy-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.home-page h1{
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

/* ? Parallax effect */

.intro-calculator{
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 1000px;
}

.intro-calculator #calculator-image{
    margin-left: 340px;
}

.intro-calculator .text{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 340px;
}
/* 
Piggy intro */

.intro-piggy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    flex-wrap: wrap;
}

.intro-piggy .fa-piggy-bank{
    font-size: 4rem;
}

.intro-piggy h2{
    margin-left: 400px;
    margin-right: 400px;
}

/* currency converter intro */

.intro-currency{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 500px 340px;
    flex-wrap: flex;
    background-color: #FBE255;
    padding: 25px;
}

.intro-currency #currency-image{
    height: 30em;
    width: 30em;
}

/* calculator.html*/

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 340px;
    position: relative;
}

header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 350px;
    font-size: 1rem;
    position: relative;
}

#piggy-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conversation{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 450px;
    margin-top: 100px;
    flex-direction: column;
}

.text-area{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 395px;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

.ppt h1{
    position: relative;
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66BA3C;
}

.ppt h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 340px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #66BA3C;
}

#add{
    margin-left: 300px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

#small-piggy{
    color: #FFA500;
    position: relative;
    margin-top: 200px;
    transition: all 1s;
    margin-left: 150px;
}

#big-piggy{
    color: red;
    width: 500px;
    height: 500px;
    position: relative;
    margin-left: 200px;
}

